.mat-list-base .mat-list-item.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-item.mat-list-option .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-item-with-avatar .mat-list-item-content .mat-list-text, .mat-list-base .mat-list-option.mat-list-option .mat-list-item-content .mat-list-text {
  padding-right: 0;
  padding-left: 16px;
}

.mat-list-base .mat-list-item .mat-list-text, .mat-list-base .mat-list-option .mat-list-text {
  display: flex;
  flex-direction: column;
  flex: auto;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}
user agent stylesheet
div {
  display: block;
}

#register-component[_ngcontent-qmk-c288] mat-card[_ngcontent-qmk-c288]:nth-child(even) mat-card-content[_ngcontent-qmk-c288] section[_ngcontent-qmk-c288]:nth-child(1) mat-nav-list[_ngcontent-qmk-c288] .step-selected[_ngcontent-qmk-c288] {
  box-shadow: inset 6px 0 #d52b1e;
  background-color: #1919190f;
  color: #d52b1e;
}

#register-component[_ngcontent-qmk-c288] mat-card[_ngcontent-qmk-c288]:nth-child(even) mat-card-content[_ngcontent-qmk-c288] section[_ngcontent-qmk-c288]:nth-child(1) mat-nav-list[_ngcontent-qmk-c288] mat-list-item[_ngcontent-qmk-c288] {
  -webkit-user-select: none;
  user-select: none;
}

.mat-list-base[_ngcontent-qmk-c288] .mat-list-item[_ngcontent-qmk-c288] {
  color: #191919de;
}

.mat-list-base[_ngcontent-qmk-c288] .mat-list-item[_ngcontent-qmk-c288] {
  font-size: 16px;
}

.mat-nav-list .mat-list-item {
  cursor: pointer;
  outline: none;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  display: block;
  height: 48px;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  padding: 0;
}

.mat-list-item[_ngcontent-qmk-c288] {
  font-family: myriad pro,myriad pro condensed,sans-serif;
}

.mat-list-item[_ngcontent-qmk-c288] {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  color: rgba(25,25,25,.87);
}
.mat-list-base .mat-list-item {
  font-size: 16px;
}
.mat-list-item, .mat-list-option {
  font-family: myriad pro,myriad pro condensed,sans-serif;
}
.mat-list-base .mat-subheader, .mat-list-base[dense] .mat-subheader, .mat-list-item, .mat-list-option, .mat-option, .mat-tooltip {
  font-family: Roboto,Helvetica Neue,sans-serif;
}

.mat-list-base {
  padding-top: 8px;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.mat-card-subtitle[_ngcontent-qmk-c288], .mat-card-content[_ngcontent-qmk-c288] {
  font-size: 14px;
}
.mat-card-content, .mat-card-subtitle {
  font-size: 14px;
}

.mat-card[_ngcontent-qmk-c288] {
  background: white;
  color: #191919de;
}

.mat-card[_ngcontent-qmk-c288] {
  font-family: myriad pro,myriad pro condensed,sans-serif;
}

.mat-card[_ngcontent-qmk-c288] {
  font-family: Roboto,"Helvetica Neue",sans-serif;
}
.mat-card {
  background: #fff;
  color: rgba(25,25,25,.87);
}
.mat-button-toggle, .mat-card {
  font-family: myriad pro,myriad pro condensed,sans-serif;
}
.mat-button, .mat-button-toggle, .mat-card, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: Roboto,Helvetica Neue,sans-serif;
}
.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px myriad pro,myriad pro condensed,sans-serif;
  letter-spacing: normal;
}
.mat-body, .mat-body-1, .mat-typography {
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
}
.mat-typography {
  font: 400 14px/20px myriad pro,myriad pro condensed,sans-serif;
  letter-spacing: normal;
}
.mat-typography {
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
}
body {
  font-family: Myriad Pro;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  font-family: Myriad Pro;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
