<div class="row">
<!-- testar validação de formulario e reativo
      <p>Form value : {{form.value | json}}</p>
      <p>Form valid : {{form.status | json}}</p> -->

  <div class="col-sm-20">
    <div class="container">
      <div class="col-lg-60 mt-4">
        <div class="card">
          <div class="card-header">
            <app-title></app-title>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col-md-4"><app-menu></app-menu></div>
              <div class="col">
              <div class="card">
                <div class="card-header">
                  <h6><b>Pré Cadastro</b></h6>
                </div>
                <div class="p-4">
                  <div class="card card-informacao">
                    <div class="card-body">
                      <h5 class="card-title"><b>Informação</b></h5>
                      <p class="card-text">Tenha em mãos seu documento CPF, isso vai facilitar sua experiência.<br>
                        Todos os itens com (*) são obrigatórios.</p>
                    </div>
                  </div>
                </div>
                <form [formGroup]="form" >
                  <!-- <h2>Input with Label Effects</h2> -->
                  <div class="col-3">
                    <div>CPF*</div>
                    <input class="effect" type="text" [ngClass]="cssValidation(f.userId)" formControlName="userId" id="userId" maxlength="14" mask="000.000.000-00" (keypress)="onlyNumbers($event)">
                    <div class="invalid-tooltip" *ngIf="f.userId.errors?.required">
                      CPF é obrigatório.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.userId.errors?.maxlength">
                      CPF deve ter no máxino 11 caracteres.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.userId.errors?.invalidCheckCpf">
                      CPF inválido.
                    </div>
                    <span class="focus-border"></span>
                  </div>
                  <div class="col-3">
                    <div>Celular*</div>
                    <input class="effect" type="text" [ngClass]="cssValidation(f.phoneNumber)" formControlName="phoneNumber"
                      mask="(00)00000-0000" (keypress)="onlyNumbers($event)">
                    <div class="invalid-tooltip" *ngIf="f.phoneNumber.errors?.required">
                      Celular é obrigatório.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.phoneNumber.errors?.minlength">
                      Celular deve ter no minimo 11 caracteres.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.phoneNumber.errors?.maxlength">
                      Celular deve ter no máxino 11 caracteres.
                    </div>
                    <span class="focus-border"></span>
                  </div>
                  <div class="col-3">
                    <div>Data de Nascimento*</div>
                    <!-- <input class="effect" type="date" [ngClass]="cssValidation(f.dateOfBirth)" formControlName="dateOfBirth"
                    maxlength="10"> -->
                    <input class="effect" type="text" [ngClass]="cssValidation(f.dateOfBirth)" formControlName="dateOfBirth"
                    bsDatepicker [bsConfig]="bsConfig()" maxlength="10" onkeydown="return false">
                    <!-- <input class="effect" type="text" [ngClass]="cssValidation(f.dateOfBirth)" placeholder="Data de Nascimento*"
                    formControlName="dateOfBirth" bsDatepicker [bsConfig]="bsConfig()" maxlength="10" onfocus="(this.type='date')" onblur="(this.type='text')"> -->
                    <div class="invalid-tooltip" *ngIf="f.dateOfBirth.errors?.required">
                      Data de Nascimento é obrigatório.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.dateOfBirth.errors?.minlength">
                      Data de Nascimento deve ter no minimo 10 caracteres.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.dateOfBirth.errors?.maxlength">
                      Data de Nascimento deve ter no máxino 10 caracteres.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.dateOfBirth.errors?.menorIdade">
                      Você precisa ter mais de 18 anos para cadastrar-se.
                    </div>
                    <span class="focus-border"></span>
                  </div>
                  <div class="col-1">
                    <div>Nome Completo*</div>
                    <input class="effect" type="text" [ngClass]="cssValidation(f.name)" formControlName="name">
                    <div class="invalid-tooltip" *ngIf="f.name.errors?.required">
                      Nome é obrigatório.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.name.errors?.minlength">
                      Nome deve ter no minimo 3 caracteres.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.name.errors?.maxlength">
                      Nome deve ter no máxino 150 caracteres.
                    </div>
                    <span class="focus-border"></span>
                  </div>
                  <div class="col-2">
                    <div>Email*</div>
                    <input class="effect" type="text" [ngClass]="cssValidation(f.email)" formControlName="email" id="email">
                    <div class="invalid-tooltip" *ngIf="f.email.errors?.required">
                      Email é obrigatório.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.email.errors?.email">
                      Deve ser um endereço de email válido.
                    </div>
                    <span class="focus-border"></span>
                  </div>
                  <div class="col-2">
                    <div>Confirmar Email*</div>
                    <input class="effect" type="text" [ngClass]="cssValidation(f.confirmaEmail)" formControlName="confirmaEmail">
                    <div class="invalid-tooltip" *ngIf="f.confirmaEmail.errors?.required">
                      Confirmar email é obrigatório.
                    </div>
                    <div class="invalid-tooltip" *ngIf="f.confirmaEmail.errors?.invalidCheckEmail">
                      Os emails não coincidem.
                    </div>
                    <span class="focus-border"></span>
                  </div>
                  <div id="divPass">
                    <div class="p-4">
                      <div class="card card-informacao">
                        <div class="card-body">
                          <h5 class="card-title"><b>Informação</b></h5>
                          <p class="card-text">O CPF informado e a senha que você vai criar abaixo serão utilizados para acessar seu cadastro no SINDEST.</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-2">
                      <div>Senha*</div>
                      <input class="effect" type="password" [ngClass]="cssValidation(f.passwordHash)"
                        formControlName="passwordHash" id="passwordHash" maxlength="15">
                      <span class="fa fa-eye eye-pwd float-end" (click)="viewPassword('passwordHash','spanviewsenha',1)" id="spanviewsenha"></span>
                      <div class="invalid-tooltip" *ngIf="f.passwordHash.errors?.required">
                        Senha é obrigatório.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.passwordHash.errors?.invalidPassword">
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-2">
                      <div>Confirmar Senha*</div>
                      <input class="effect" type="password" [ngClass]="cssValidation(f.confirmaPassword)"
                        formControlName="confirmaPassword" id="confirmaPassword" maxlength="15">
                        <span class="fa fa-eye eye-pwd float-end" (click)="viewPassword('confirmaPassword','spanviewconfirmasenha',2)" id="spanviewconfirmasenha"></span>
                      <div class="invalid-tooltip" *ngIf="f.confirmaPassword.errors?.required">
                        Confirmar Senha é obrigatório.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.confirmaPassword.errors?.invalidCheckConfirmedPassword">
                        As senhas não coincidem.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="p-4" >
                      <div class="card card-informacao">
                        <div class="card-body">
                          <span class="fa fa-exclamation-circle" aria-hidden="true"></span>
                          <span>&nbsp;A nova senha deve conter:</span><br>
                          <span class="fa fa-times" aria-hidden="true" id="spansenhaminlen"></span>&nbsp;
                          <span class="card-text">De 6 a 15 caracteres</span><br>
                          <span class="fa fa-times" aria-hidden="true" id="spansenhaupcase"></span>&nbsp;
                          <span class="card-text">Caracteres maiúsculos e minúsculos</span><br>
                          <span class="fa fa-times" aria-hidden="true" id="spansenhanum"></span>&nbsp;
                          <span class="card-text">Caractere numérico</span><br>
                          <span class="fa fa-times" aria-hidden="true" id="spansenhaesp"></span>&nbsp;
                          <span class="card-text">Caractere especial ('"!@#$%¨&*()-_=+&apos;&#125;]~^[&#123;,&lt;.>;:/¹²³£¬¢)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="form-group col">
                      <input type="checkbox" checked="{{f.noticia}}" formControlName="noticia">&nbsp;
                      <label class="mr-2">Eu concordo em receber as notícias relacionadas ao SINDEST.</label>
                    </div>
                  </div>
                </form>
                <div class="row">
                  <div class="col div-btn-custom">
                    <button class="btn btn-danger btn-custom" (click)="cancelChange()">
                      Cancelar
                    </button>
                    <button class="btn btn-success btn-custom float-end" type="submit" (click)="saveChange()" [disabled]="!form.valid">
                      Avançar
                    </button>
                  </div>
                </div>
                <!-- <button type="button" class="btn btn-sm btn-primary" (click)="send()">Send</button> -->
                <div *ngIf="tokenVisible"> reCAPTCHA Token <br />
                  <p style="color:red">{{reCAPTCHAToken}}</p>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>
</div>

