<div class="row mt-4">

	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">
		<form class="p-1">
      <div class="pb-2 d-block d-md-none">
        <h3 class="border-bottom">Cadastro de Usuário</h3>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>CPF</label>
          <input type="number" class="form-control is-invalid" [ngClass]="{'is-invalid':f.cpf.errors && f.cpf.touched}"
            formControlName="cpf" placeholder="Insira o CPF">
          <div class="invalid-feedback" *ngIf="f.cpf.errors?.required">
            CPF é obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="f.cpf.errors?.minlength">
            CPF deve ter no minimo 11 caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="f.cpf.errors?.maxlength">
            CPF deve ter no máxino 11 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>Nome</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid':f.nome.errors && f.nome.touched}" formControlName="nome" placeholder="">
          <div class="invalid-feedback" *ngIf="f.nome.errors?.required">
            Nome é obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="f.nome.errors?.minlength">
            Nome deve ter no minimo 3 caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="f.nome.errors?.maxlength">
            Nome deve ter no máxino 150 caracteres.
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Data Nascimento</label>
          <input type="datetime" class="form-control is-invalid" [ngClass]="{'is-invalid':f.dataNascimento.errors && f.dataNascimento.touched}" formControlName="dataNascimento" placeholder="DD/MM/YYYY">
          <div class="invalid-feedback" *ngIf="f.dataNascimento.errors?.required">
            Data de Nascimento é obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="f.dataNascimento.errors?.minlength">
            Data de Nascimento deve ter no minimo 10 caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="f.dataNascimento.errors?.maxlength">
            Data de Nascimento deve ter no máxino 10 caracteres.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label>Celular</label>
          <input type="number" class="form-control is-invalid" [ngClass]="{'is-invalid':f.telefone.errors && f.telefone.touched}" formControlName="telefone" placeholder="(000) 90000-0000">
          <div class="invalid-feedback" *ngIf="f.telefone.errors?.required">
            Celular é obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="f.telefone.errors?.minlength">
            Celular deve ter no minimo 16 caracteres.
          </div>
          <div class="invalid-feedback" *ngIf="f.telefone.errors?.maxlength">
            Celular deve ter no máxino 16 caracteres.
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid':f.email.errors && f.email.touched}" formControlName="email" placeholder="e-mail">
          <div class="invalid-feedback" *ngIf="f.email.errors?.required">
            Email é obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="f.email.errors?.email">
            Deve ser um endereço de email válido.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          <label for="">Senha:</label>
          <input class="form-control is-invalid" [ngClass]="{'is-invalid':f.senha.errors && f.senha.touched}" formControlName="senha" type="password" placeholder="Digite uma Senha" />
          <div class="invalid-feedback" *ngIf="f.nome.errors?.required">
            Senha é obrigatório.
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="">Confirmar Senha:</label>
          <input class="form-control is-invalid" [ngClass]="{'is-invalid':f.confirmaSenha.errors && f.confirmaSenha.touched}" formControlName="confirmaSenha" type="password" placeholder="Confirme a Senha" />
          <div class="invalid-feedback" *ngIf="f.nome.errors?.required">
            Confirmar Senha é obrigatório.
          </div>
        </div>
      </div>
      <div class="form-row p-1 mb-3">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck1">
          <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <button class="btn btn-lg btn-success btn-block px-5" routerLink="user/registration">
            Registar
          </button>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-12">
          <a class="btn btn-link btn-block" routerLink="/user/login">
            Já sou Cadastrado
          </a>
        </div>
      </div>
    </form>

	</div>
</div>
