<div class="row">

  <div class="col-sm-6"><app-menu></app-menu></div>
  <div class="col-sm-6">
    <div class="container">
      <form [formGroup]="form">
        <!-- <h2>Input with Label Effects</h2> -->
        <div class="form-group col-2 input-effect">
          <input formControlName="cpf" class="effect is-invalid" type="number" placeholder="" [ngClass]="cssValidation(f.cpf)" >
          <div class="invalid-tooltip" *ngIf="f.cpf.errors?.required">
            CPF é obrigatório.
          </div>
          <div class="invalid-tooltip" *ngIf="f.cpf.errors?.minlength">
            CPF deve ter no minimo 11 caracteres.
          </div>
          <div class="invalid-tooltip" *ngIf="f.cpf.errors?.maxlength">
            CPF deve ter no máxino 11 caracteres.
          </div>
          <label>CPF*</label>
          <span class="focus-border"></span>
        </div>
        <div class="col-2 input-effect">
          <input class="effect" type="datetime" placeholder="" [ngClass]="cssValidation(f.dataNascimento)" formControlName="dataNascimento">
          <div class="invalid-tooltip" *ngIf="f.dataNascimento.errors?.required">
            Data de Nascimento é obrigatório.
          </div>
          <div class="invalid-tooltip" *ngIf="f.dataNascimento.errors?.minlength">
            Data de Nascimento deve ter no minimo 10 caracteres.
          </div>
          <div class="invalid-tooltip" *ngIf="f.dataNascimento.errors?.maxlength">
            Data de Nascimento deve ter no máxino 10 caracteres.
          </div>
          <label>Data de Nascimento*</label>
          <span class="focus-border"></span>
        </div>
        <div class="col-1 input-effect">
          <input class="effect" type="text" placeholder="" [ngClass]="cssValidation(f.nome)" formControlName="nome">
          <div class="invalid-tooltip" *ngIf="f.nome.errors?.required">
            Nome é obrigatório.
          </div>
          <div class="invalid-tooltip" *ngIf="f.nome.errors?.minlength">
            Nome deve ter no minimo 3 caracteres.
          </div>
          <div class="invalid-tooltip" *ngIf="f.nome.errors?.maxlength">
            Nome deve ter no máxino 150 caracteres.
          </div>
          <label>Nome Completo*</label>
          <span class="focus-border"></span>
        </div>
        <div class="col-2 input-effect">
          <input class="effect" type="number" placeholder="" [ngClass]="cssValidation(f.telefone)" formControlName="telefone">
          <div class="invalid-tooltip" *ngIf="f.telefone.errors?.required">
            Celular é obrigatório.
          </div>
          <div class="invalid-tooltip" *ngIf="f.telefone.errors?.minlength">
            Celular deve ter no minimo 16 caracteres.
          </div>
          <div class="invalid-tooltip" *ngIf="f.telefone.errors?.maxlength">
            Celular deve ter no máxino 16 caracteres.
          </div>
          <label>Celular*</label>
          <span class="focus-border"></span>
        </div>
        <div class="col-2 input-effect">
          <input class="effect" type="text" placeholder="" [ngClass]="cssValidation(f.email)" formControlName="email">
          <div class="invalid-tooltip" *ngIf="f.email.errors?.required">
            Email é obrigatório.
          </div>
          <div class="invalid-tooltip" *ngIf="f.email.errors?.email">
            Deve ser um endereço de email válido.
          </div>
          <label>E-mail*</label>
          <span class="focus-border"></span>
        </div>
        <div class="col-2 input-effect">
          <input class="effect" type="password" placeholder="" [ngClass]="cssValidation(f.senha)" formControlName="senha">
          <div class="invalid-tooltip" *ngIf="f.senha.errors?.required">
            Senha é obrigatório.
          </div>
          <label>Senha*</label>
          <span class="focus-border"></span>
        </div>
        <div class="col-2 input-effect">
          <input class="effect" type="password" placeholder="" [ngClass]="cssValidation(f.confirmaSenha)" formControlName="confirmaSenha">
          <div class="invalid-tooltip" *ngIf="f.confirmaSenha.errors?.required">
            Confirmar Senha é obrigatório.
          </div>
          <label>Confirmar Senha*</label>
          <span class="focus-border"></span>
        </div>
        <div class=" col-1 form-row">
          <div class="form-group custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class=" mr-2 custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-2">
            <button class="btn btn-lg btn-danger btn-block px-5" routerLink="dashboard">
              Cancelar
            </button>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-2">
            <button class="btn btn-lg btn-success btn-block px-5" (click)="saveChange()">
              Registar
            </button>
          </div>
        </div>
      </form>

    <!-- </div> -->
  </div>
  </div>
</div>
