<div class="row">
  <!-- testar validação de formulario e reativo
        <p>Form value : {{form.value | json}}</p>
        <p>Form valid : {{form.status | json}}</p> -->
    <div class="col-sm-20">
      <div class="container">
        <div class="col-lg-60 mt-4">
          <div class="card">
            <div class="card-header">
              <h5><b>Cadastro Digital</b></h5>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col col-md-4"><app-menu></app-menu></div>
                <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h6><b>Dados Residenciais</b></h6>
                  </div>
                  <div class="p-4">
                    <div class="card card-informacao">
                      <div class="card-body">
                        <h5 class="card-title"><b>Informação</b></h5>
                        <p class="card-text">Todos os itens com (*) são obrigatórios.</p>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="form">
                    <div class="col-3">
                      <input formControlName="cep" class="effect" type="text" placeholder="CEP*"
                        [ngClass]="cssValidation(f.cep)" (blur)="getByCep()" mask="00000-000" maxlength="9"><i class="fa fa-wrench fa-fw" aria-hidden="true"></i>
                      <div class="invalid-tooltip" *ngIf="f.cep.errors?.required">
                        CEP é obrigatório.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.cep.errors?.minlength">
                        CEP deve ter no minimo 8 caracteres.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.cep.errors?.maxlength">
                        CEP deve ter no máxino 8 caracteres.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3">
                      <a href="https://buscacepinter.correios.com.br/app/endereco/index.php?t" target="_blank" rel="noopener noreferrer">Não sei meu CEP</a>
                    </div>
                    <div class="col-1 input-effect">
                      <input readonly class="effect" type="text" placeholder="Logradouro*" formControlName="logradouro"
                        [ngClass]="cssValidation(f.logradouro)" ngModel="{{endereco.logradouro}}">
                      <div class="invalid-tooltip" *ngIf="f.logradouro.errors?.required">
                        Logradouro é obrigatório.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.logradouro.errors?.minlength">
                        Logradouro deve ter no minimo 3 caracteres.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.logradouro.errors?.maxlength">
                        Logradouro deve ter no máxino 150 caracteres.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3">
                      <input class="effect" type="number" placeholder="Número*" formControlName="numero"
                      [ngClass]="cssValidation(f.numero)" >
                      <div class="invalid-tooltip" *ngIf="f.numero.errors?.required">
                        Número do endereço é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3">
                      <input class="effect" type="text" placeholder="Complemento" formControlName="complemento">
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3">
                      <input readonly class="effect" type="text" placeholder="Bairro*" formControlName="bairro"
                      [ngClass]="cssValidation(f.bairro)" ngModel="{{endereco.bairro}}">
                      <div class="invalid-tooltip" *ngIf="f.bairro.errors?.required">
                        Bairro é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                      <input readonly class="effect" type="text" placeholder="Cidade*" formControlName="cidade"
                      [ngClass]="cssValidation(f.cidade)" ngModel="{{endereco.localidade}}">
                      <div class="invalid-tooltip" *ngIf="f.cidade.errors?.required">
                        Cidade é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3 input-effect">
                      <input readonly class="effect" type="text" placeholder="Estado*" formControlName="estado"
                      [ngClass]="cssValidation(f.estado)" ngModel="{{endereco.uf}}">
                      <div class="invalid-tooltip" *ngIf="f.estado.errors?.required">
                        Estado é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-1">
                      <div class="form-group col">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col div-btn-custom">
                        <button class="btn btn-danger btn-custom" routerLink="dashboard">
                          Cancelar
                        </button>
                      </div>
                      <div class="col div-btn-custom">
                        <button class="btn btn-success btn-custom" (click)="saveChange()" [disabled]="!form.valid">
                          Avançar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>




