
<div class="mt-4 p-2 col-md-100 d-none d-md-block">
  <div class="text-left col-md-100 side-header">
    <div>
      <div class="list-group">
        <a class="list-group-item w-100" href="user/registration" id="a-precadastro">
          <i class="fa fa-user fa-fw p-2" aria-hidden="true" id="i-precadastro"></i>
            &nbsp;&nbsp;&nbsp;<b>Pré Cadastro</b>
        </a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100" href="user/personalData"><i class="fa fa-address-card fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Dados Pessoais</b></a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100" href="user/addressData"><i class="fa fa-house fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Dados Residenciais</b></a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100" href="user/profissionalData"><i class="fa fa-wrench fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Dados Profissionais</b></a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100" href="#"><i class="fa fa-institution fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Dados Bancários</b></a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100 disabled" href="#"><i class="fa fa-users fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Dependentes e Agregados</b></a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100 disabled" href="#"><i class="fa fa-image fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Foto Perfil</b></a>
      </div>
    </div>
    <div class="mt-3">
      <div class="list-group">
        <a class="list-group-item w-100 disabled" href="#"><i class="fa fa-image fa-fw p-2" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;<b>Documentos</b></a>
      </div>
    </div>
  </div>

</div>
