a:link{
  width: 55%;
  color: #d4d4d4;
}

i {
  color: #d4d4d4;
}

a:hover,
a:active{
  border-left: 3px solid #fd0404;
  background-color: #ebeaea;
  color: #000000;
  i{
    color: #fd0404;
  }
}



