
<div class="mt-4 p-2 col-md-100 d-none d-md-block">
  <div class="text-left col-md-100 side-header">

    <div class="mt-3">
      <div id="d-1">
        <div class="list-group" id="a-1">
            <a class="list-group-item" href="user/registration">
              <i class="fa fa-user fa-fw p-2" aria-hidden="true"></i>
                &nbsp;&nbsp;&nbsp;<b>Pré Cadastro</b>
            </a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-2">
        <div class="list-group" >
          <a class="list-group-item w-100" id="a-2" href="user/personalData">
            <i class="fa fa-address-card fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Dados Pessoais</b>
          </a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-3">
        <div class="list-group">
          <a class="list-group-item w-100" id="a-3" href="user/addressData">
            <i class="fa fa-house fa-fw p-2" aria-hidden="true"></i>
              &nbsp;&nbsp;&nbsp;<b>Dados Residenciais</b></a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-4">
        <div class="list-group" >
          <a class="list-group-item w-100" id="a-4" href="user/profissionalData">
            <i class="fa fa-wrench fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Dados Profissionais</b></a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-5">
        <div class="list-group">
          <a class="list-group-item w-100" id="a-5" href="user/dependent">
            <i class="fa fa-users fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Dependentes</b></a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-6">
        <div class="list-group">
          <a class="list-group-item w-100" id="a-6" href="user/agregate">
            <i class="fa fa-users fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Agregados</b></a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-7">
        <div class="list-group">
          <a class="list-group-item w-100" id="a-7" href="user/photo">
            <i class="fa fa-image fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Foto Perfil</b></a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-8">
        <div class="list-group">
          <a class="list-group-item w-100" id="a-8" href="user/documents">
            <i class="fa fa-image fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Documentos</b></a>
        </div>
      </div>
    </div>
    <div class="mt-3">
      <div id="d-9">
        <div class="list-group">
          <a class="list-group-item w-100" id="a-9" href="user/documents">
            <i class="fa fa-image fa-fw p-2" aria-hidden="true"></i>
            &nbsp;&nbsp;&nbsp;<b>Fichas</b></a>
        </div>
      </div>
    </div>
  </div>
</div>
