<div class="mt-4 p-2 col-md-12 d-none d-md-block" style="height: 450px;">
  <div class="text-left col-md-50 my-auto side-heder">
    <h4>Cadastro Digital</h4>
    <div>
      <p><a class="btn btn-secondary col-md-8 mt-2" href=""><i class="fa fa-user mb-2"></i> Pré Cadastro</a></p>
    </div>
    <div>
      <p><a class="btn btn-secondary col-md-8 mt-2" href=""><i class="fa fa-user mb-2"></i> Dados Pessoais</a></p>
    </div>
    <div>
      <p><a class="btn btn-secondary col-md-8 mt-2" href="user/address/"><i class="fa fa-book mb-2"></i> Dados Residenciais</a></p>
    </div>
    <div>
      <p><a class="btn btn-primary col-md-8 mt-2" href="user/"><i class="fa fa-book mb-2"></i> Seja Sócio</a></p>
    </div>
    <div>
      <p><a class="btn btn-secondary col-md-8 mt-2" href=""><i class="fa fa-users mb-2"></i>Dados Profissionais</a></p>
    </div>
    <div>
      <p><a class="btn btn-secondary col-md-8 mt-2" href=""><i class="fa fa-users mb-2"></i>Dependentes e Agregados</a></p>
    </div>
    <div>
      <p><a class="btn btn-secondary col-md-8 mt-2" href=""><i class="fa fa-users mb-2"></i>Foto Perfil</a></p>
    </div>
    <!-- <img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px"> -->
  </div>
</div>
