a {
  border-bottom: 3px solid gray;
  border-right: 3px solid gray;
}

a:default {
  border-bottom: 3px solid #27ae60;
  border-right: 3px solid #27ae60;
}

a:hover{
  border-bottom: 3px solid #27ae60;
  border-right: 3px solid #27ae60;
}
