 <div *ngIf="noticias && noticias.length == 5" class="block-area p-4">
  <!--block title-->
  <div class="block-title-6">
    <h4 class="h5 border-primary">
      <span>Últimas Notícias</span>
    </h4>
  </div>
  <div class="row">
    <!--post left start-->
    <div class="flex-column col-lg-6">
      <article class="card card-full mb-4 hover-a">
        <!--thumbnail-->
        <div class="div_ratio_466-261 image-wrapper">
          <a href="{{noticias[0].link}}">
            <img class="img-fluid lazy img-md-not" src="../../assets/img/noticias/{{noticias[0].imagem}}">
          </a>
        </div>
        <div class="card-body div-card-body-md-not">
          <!--title-->
          <h2 class="card-title h1-sm h3-lg">
            <a href="{{noticias[0].link}}" target="_blank">{{noticias[0].titulo}}</a>
          </h2>
          <!-- author, date & comments -->
          <div class="card-text mb-2 text-muted small">
            <span class="d-none d-sm-inline me-1">
              <a class="fw-bold" href="#">{{noticias[0].autor}}</a>
            </span>
            <time datetime="2019-10-22">{{noticias[0].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
            <span title="9 comment" class="m-0 float-end">
              <span class="icon-comments"></span>
            </span>
          </div>
          <!--text content-->
          <p class="card-text">{{noticias[0].resumo}}</p>
        </div>
      </article>
    </div>
    <!--post right list start-->
    <div class="col-lg-6">
      <div class="row">
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="{{noticias[1].link}}">
                <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[1].imagem}}">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body div-card-body-sm-not">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[1].link}}">{{noticias[1].titulo}}</a></h3>
              <div class="card-text text-muted small">
                <time>{{noticias[1].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
              </div>
            </div>
          </div>
        </article>
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="{{noticias[2].link}}" >
                <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[2].imagem}}">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body div-card-body-sm-not">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[2].link}}">{{noticias[2].titulo}}</a></h3>
              <div class="card-text text-muted small">
                <time>{{noticias[2].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
              </div>
            </div>
          </div>
        </article>
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="{{noticias[3].link}}">
                <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[3].imagem}}">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body div-card-body-sm-not">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[3].link}}">{{noticias[3].titulo}}</a></h3>
              <div class="card-text text-muted small">
                <time>{{noticias[2].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
              </div>
            </div>
          </div>
        </article>
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="{{noticias[4].link}}">
                <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[4].imagem}}">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body div-card-body-sm-not">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[4].link}}">{{noticias[4].titulo}}</a></h3>
              <div class="card-text text-muted small">
                <time>{{noticias[2].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!--end post right list-->
  </div>
</div>
<!--End Block-->

<!--Block start-->
<div *ngIf="beneficios[0] != null" class="block-area p-4" style="background-color: #eeeff0;">
  <!-- block title -->
  <div class="block-title-6">
    <h4 class="h5 border-primary">
      <span>Benefícios</span>
    </h4>
  </div>
  <!--big post start-->
  <!-- <div class="big-post">
    <article class="card card-full hover-a mb-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="div_ratio_360-202 image-wrapper">
            <a href="#">
              <img class="img-fluid lazy img-md-ben" src="../../assets/img/beneficios/naso_logo.jpg" >
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body pt-3 pt-lg-0 div-card-body-md-ben">
            title
            <h2 class="card-title h1-sm h3-lg">
              <a href="#">NASO</a>
            </h2>
      author, date and comments
            <div class="card-text mb-2 text-muted small">
              <span class="d-none d-sm-inline me-1">
                <a class="fw-bold" href="#">Núcleo de Assistência à Saúde Odontológica</a>
              </span>
              <time></time>
              <span title="5 comment" class="float-end">
                <span class="icon-comments"></span>
              </span>
            </div>
            description
            <p class="card-text">www.naso.com</p>
          </div>
        </div>
      </div>
    </article>
  </div>-->

  <!--small post start-->
  <div class="row small-post" >
    <!-- post list -->
    <article class="col-lg-6" *ngFor="let beneficio of beneficios; let i = index">
      <div class="card card-full hover-a mb-4 div-card-body-sm-ben"  >
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0 p-3" >
            <div class="ratio_115-80 image-wrapper" >
              <a href="#">
                <img class="img-fluid lazy img-sm-ben" src="../../assets/img/beneficios/{{beneficio.imagem}}">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8 p-3">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">{{beneficio.nome}} - {{beneficio.descricao}}</a>
              </h3>
              <div class="card-text small text-muted">
                <a href="#">{{beneficio.site}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>



    <!-- End post list -->
  </div>
</div>
<!-- End block -->

<!--Block start-->
<div *ngIf="parcerias[0] != null" class="block-area p-4" style="background-color: #eeeff0;">
  <!-- block title -->
  <div class="block-title-6">
    <h4 class="h5 border-primary">
      <span>Parceiros</span>
    </h4>
  </div>
  <!-- big post start
  <div class="big-post">
    <article class="card card-full hover-a mb-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="ratio_360-202 image-wrapper">
            <a href="#">
              <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/360x202/img8.jpg" alt="Image description">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body pt-3 pt-lg-0">
            title
            <h2 class="card-title h1-sm h3-lg">
              <a href="#">Leica D-Lux 7 compact camera with 17MP four-thirds sensor</a>
            </h2>
            author, date and comments
            <div class="card-text mb-2 text-muted small">
              <span class="d-none d-sm-inline me-1">
                <a class="fw-bold" href="#">John Doe</a>
              </span>
              <time datetime="2019-10-21">Oct 21, 2019</time>
              <span title="5 comment" class="float-end">
                <span class="icon-comments"></span> 5
              </span>
            </div>
            description
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content...</p>
          </div>
        </div>
      </div>
    </article>
  </div> -->
  <!--small post start-->
  <div class="row small-post">
    <!-- post list -->
    <article class="col-lg-6" *ngFor="let parceria of parcerias">
      <div class="card card-full hover-a mb-4 div-card-body-sm-ben">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0 p-3">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy img-sm-ben" src="../../assets/img/parcerias/{{parceria.imagem}}">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8 p-3">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">{{parceria.nome}} - {{parceria.descricao}}</a>
              </h3>
              <div class="card-text small text-muted">
                Desconto de {{parceria.desconto}}% na mensalidade.<br>
                <a href="#">{{parceria.site}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>

    <!-- End post list -->
  </div>
</div>
<!-- End block -->

  <!--Block start-->
  <div *ngIf="noticias[0] != null" class="block-area p-4" style="background-color: #eeeff0;">
    <!--block title-->
    <div class="block-title-6">
      <h4 class="h5 border-primary">
        <span>Últimas Lives</span>
      </h4>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <iframe id="player" type="text/html" width="640" height="360"
  src="http://www.youtube.com/embed/M7lc1UVf-VE?enablejsapi=1&origin=http://example.com"
  frameborder="0"></iframe>
          <div id="player">player</div>
          <script>
             var tag = document.createElement('script');

              tag.src = "https://www.youtube.com/iframe_api";
              var firstScriptTag = document.getElementsByTagName('script')[0];
              firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

              // 3. This function creates an <iframe> (and YouTube player)
              //    after the API code downloads.
              var player;
              function onYouTubeIframeAPIReady() {
                player = new YT.Player('player', {
                  height: '360',
                  width: '640',
                  videoId: 'rOM5IL87eg8',
                  events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                  }
                });
              }

              // 4. The API will call this function when the video player is ready.
              function onPlayerReady(event) {
                event.target.playVideo();
              }

              // 5. The API calls this function when the player's state changes.
              //    The function indicates that when playing a video (state=1),
              //    the player should play for six seconds and then stop.
              var done = false;
              function onPlayerStateChange(event) {
                if (event.data == YT.PlayerState.PLAYING && !done) {
                  setTimeout(stopVideo, 6000);
                  done = true;
                }
              }
              function stopVideo() {
                player.stopVideo();
              }
          </script>

          <!--post start-->
          <article class="col-3">
            <div class="card card-full mb-4 hover-a">
              <!--thumbnail-->
              <div class="ratio_165-92 image-wrapper">
                <a href="">
                  <img class="img-fluid lazy img-sm-not" src="">
                  <!-- <embed src="https://www.youtube.com/watch?v=rOM5IL87eg8"> -->
                </a>

              </div>
              <!-- title & date -->
              <div class="card-body div-card-body-sm-not">
                <!-- <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[1].link}}">{{noticias[1].titulo}}</a></h3> -->
                <div class="card-text text-muted small">
                  <time>{{noticias[1].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
                </div>
              </div>
            </div>
          </article>
          <!--post start-->
          <article class="col-3">
            <div class="card card-full mb-4 hover-a">
              <!--thumbnail-->
              <div class="ratio_165-92 image-wrapper">
                <a href="{{noticias[2].link}}" >
                  <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[2].imagem}}">
                </a>
              </div>
              <!-- title & date -->
              <div class="card-body div-card-body-sm-not">
                <!-- <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[2].link}}">{{noticias[2].titulo}}</a></h3> -->
                <div class="card-text text-muted small">
                  <time>{{noticias[2].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
                </div>
              </div>
            </div>
          </article>
          <!--post start-->
          <article class="col-3">
            <div class="card card-full mb-4 hover-a">
              <!--thumbnail-->
              <div class="ratio_165-92 image-wrapper">
                <a href="{{noticias[3].link}}">
                  <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[3].imagem}}">
                </a>
              </div>
              <!-- title & date -->
              <div class="card-body div-card-body-sm-not">
                <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[3].link}}">{{noticias[3].titulo}}</a></h3>
                <div class="card-text text-muted small">
                  <time>{{noticias[2].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
                </div>
              </div>
            </div>
          </article>
          <!--post start-->
          <article class="col-3">
            <div class="card card-full mb-4 hover-a">
              <!--thumbnail-->
              <div class="ratio_165-92 image-wrapper">
                <a href="{{noticias[4].link}}">
                  <img class="img-fluid lazy img-sm-not" src="../../assets/img/noticias/{{noticias[4].imagem}}">
                </a>
              </div>
              <!-- title & date -->
              <div class="card-body div-card-body-sm-not">
                <h3 class="card-title h6 h5-sm h6-lg"><a href="{{noticias[4].link}}">{{noticias[4].titulo}}</a></h3>
                <div class="card-text text-muted small">
                  <time>{{noticias[2].data | date : 'dd/MM/yyyy' : '' : 'pt-br'}}</time>
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
      <!--end post right list-->
    </div>
  </div>
  <!--End Block-->

<!--<footer class="bg-dark text-light">-->
<footer>
  <div class="container-fluid py-3 bg-secondary">
    <div class="row text-center">
      <div class="col-2">
        <ul class="nav flex-column">
          <!-- <li class="nav-link"><a href="#">Retornar à Loja</a></li> -->
          <li class="nav-link"><a href="#">Sobre</a></li>
          <li class="nav-link"><a href="#">Notícias</a></li>
          <li class="nav-link"><a href="#">Benefícios</a></li>
          <li class="nav-link"><a href="#">Convênios</a></li>
          <li class="nav-link"><a href="#">Contato</a></li>
        </ul>
      </div>
      <div class="col-8 text-center">
        <p>
            O Sindest é a voz dos servidores de Santos, que fazem parte da história de lutas e conquistas dos trabalhadores no mundo.<br>O Sindest é sindicalismo, é resistência, é cidadania!
        </p>
        <div  style="display: flex; justify-content: center;">
          <ul class="nav ">
            <li class="nav-link"><i class="fab fa-facebook fa-2x"></i></li>
            <li class="nav-link"><i class="fab fa-instagram fa-2x"></i></li>
            <li class="nav-link"><i class="fab fa-youtube fa-2x"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-center" style="background-color: #eeeff0; padding: 20px;">
    &copy 2023 Copyright: <!--<a href="#">Lojas Virtuais</a>-->
  </div>
</footer>
<div class="container">
  <!--<app-search (newPlayList)="playList = $event"></app-search>-->
  <app-playlist [playList]="playList" *ngIf="playList != null"></app-playlist>
</div>


