<!--<app-titulo [titulo]="'Dashboard'"></app-titulo>-->
<!-- <div>
  <div class="p-5">
    <carousel>
      <slide>
        <img src="assets/Sindest-1.jpg">
      </slide>
      <slide>
        <img src="assets/Sindest-2.jpg">
      </slide>
      <slide>
        <img src="assets/Sindest-3.jpg">
      </slide>
    </carousel>
  </div>
</div> -->

<!--Block start-->
<div class="block-area p-4">
  <!--block title-->
  <div class="block-title-6">
    <h4 class="h5 border-primary">
      <span class="bg-primary text-white">Últimas Notícias</span>
    </h4>
  </div>
  <div class="row">
    <!--post left start-->
    <div class="col-lg-6">
      <article class="card card-full mb-4 hover-a">
        <!--thumbnail-->
        <div class="ratio_466-261 image-wrapper">
          <a href="#">
            <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/360x202/img1.jpg" alt="Image description">
          </a>
        </div>
        <div class="card-body">
          <!--title-->
          <h2 class="card-title h1-sm h3-lg">
            <a href="#">What You Need to Know About Safe Deposit Boxes</a>
          </h2>
          <!-- author, date & comments -->
          <div class="card-text mb-2 text-muted small">
            <span class="d-none d-sm-inline me-1">
              <a class="fw-bold" href="#">John Doe</a>
            </span>
            <time datetime="2019-10-22">Oct 22, 2019</time>
            <span title="9 comment" class="m-0 float-end">
              <span class="icon-comments"></span> 9
            </span>
          </div>
          <!--text content-->
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </article>
    </div>
    <!--post right list start-->
    <div class="col-lg-6">
      <div class="row">
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/165x92/img1.jpg" alt="Image description">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="#">Callum Wilson ready to fulfil ‘cage’ dreams of playing for England</a></h3>
              <div class="card-text text-muted small">
                <time datetime="2019-10-22">Oct 22, 2019</time>
              </div>
            </div>
          </div>
        </article>
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/165x92/img2.jpg" alt="Image description">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="#">Fans celebrate in Paris after side reaches World Cup</a></h3>
              <div class="card-text text-muted small">
                <time datetime="2019-10-22">Oct 22, 2019</time>
              </div>
            </div>
          </div>
        </article>
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/165x92/img3.jpg" data-src="../../assets/img/165x92/img3.jpg" alt="Image description">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="#">Referee whose jaw was broken by players forgives his attackers</a></h3>
              <div class="card-text text-muted small">
                <time datetime="2019-10-22">Oct 22, 2019</time>
              </div>
            </div>
          </div>
        </article>
        <!--post start-->
        <article class="col-6">
          <div class="card card-full mb-4 hover-a">
            <!--thumbnail-->
            <div class="ratio_165-92 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/165x92/img4.jpg" alt="Image description">
              </a>
            </div>
            <!-- title & date -->
            <div class="card-body">
              <h3 class="card-title h6 h5-sm h6-lg"><a href="#">From doubted to dominator: Pogba’s World Cup evolution</a></h3>
              <div class="card-text text-muted small">
                <time datetime="2019-10-22">Oct 22, 2019</time>
              </div>
            </div>
          </div>
        </article>
      </div>
    </div>
    <!--end post right list-->
  </div>
</div>
<!--End Block-->

<!--Block start-->
<div class="block-area p-4">
  <!-- block title -->
  <div class="block-title-6">
    <h4 class="h5 border-primary">
      <span class="bg-primary text-white">Benefícios</span>
    </h4>
  </div>
  <!--big post start-->
  <div class="big-post">
    <article class="card card-full hover-a mb-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="ratio_360-202 image-wrapper">
            <a href="#">
              <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/360x202/img8.jpg" alt="Image description">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body pt-3 pt-lg-0">
            <!--title-->
            <h2 class="card-title h1-sm h3-lg">
              <a href="#">Leica D-Lux 7 compact camera with 17MP four-thirds sensor</a>
            </h2>
            <!-- author, date and comments -->
            <div class="card-text mb-2 text-muted small">
              <span class="d-none d-sm-inline me-1">
                <a class="fw-bold" href="#">John Doe</a>
              </span>
              <time datetime="2019-10-21">Oct 21, 2019</time>
              <span title="5 comment" class="float-end">
                <span class="icon-comments"></span> 5
              </span>
            </div>
            <!--description-->
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content...</p>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!--small post start-->
  <div class="row small-post">
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img27.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">The Bride Was a Dream in a Dirndl, but Putin Stole the Show</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-19">Oct 19, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img28.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <div class="col-9 col-md-8">
            <!-- title & date -->
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">Quebec’s ‘Trash Radio’ Host Fires Up Outrage, and Big Ratings</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-18">Oct 18, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img29.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">The West Hoped for Democracy in Turkey. Erdogan Had Other Ideas</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-17">Oct 17, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img30.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">Why Apple went to war with Facebook and Google this week</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-16">Oct 16, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- End post list -->
  </div>
</div>
<!-- End block -->

<!--Block start-->
<div class="block-area p-4">
  <!-- block title -->
  <div class="block-title-6">
    <h4 class="h5 border-primary">
      <span class="bg-primary text-white">Convênios</span>
    </h4>
  </div>
  <!--big post start-->
  <div class="big-post">
    <article class="card card-full hover-a mb-4">
      <div class="row">
        <div class="col-lg-6">
          <div class="ratio_360-202 image-wrapper">
            <a href="#">
              <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/360x202/img8.jpg" alt="Image description">
            </a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body pt-3 pt-lg-0">
            <!--title-->
            <h2 class="card-title h1-sm h3-lg">
              <a href="#">Leica D-Lux 7 compact camera with 17MP four-thirds sensor</a>
            </h2>
            <!-- author, date and comments -->
            <div class="card-text mb-2 text-muted small">
              <span class="d-none d-sm-inline me-1">
                <a class="fw-bold" href="#">John Doe</a>
              </span>
              <time datetime="2019-10-21">Oct 21, 2019</time>
              <span title="5 comment" class="float-end">
                <span class="icon-comments"></span> 5
              </span>
            </div>
            <!--description-->
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content...</p>
          </div>
        </div>
      </div>
    </article>
  </div>
  <!--small post start-->
  <div class="row small-post">
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img27.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">The Bride Was a Dream in a Dirndl, but Putin Stole the Show</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-19">Oct 19, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img28.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <div class="col-9 col-md-8">
            <!-- title & date -->
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">Quebec’s ‘Trash Radio’ Host Fires Up Outrage, and Big Ratings</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-18">Oct 18, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img29.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">The West Hoped for Democracy in Turkey. Erdogan Had Other Ideas</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-17">Oct 17, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- post list -->
    <article class="col-lg-6">
      <div class="card card-full hover-a mb-4">
        <div class="row">
          <!--thumbnail-->
          <div class="col-3 col-md-4 pe-2 pe-md-0">
            <div class="ratio_115-80 image-wrapper">
              <a href="#">
                <img class="img-fluid lazy" src="../../assets/img/assets/lazy-empty.png" data-src="../../assets/img/115x80/img30.jpg" alt="Image description">
              </a>
            </div>
          </div>
          <!-- title & date -->
          <div class="col-9 col-md-8">
            <div class="card-body pt-0">
              <h3 class="card-title h6 h5-sm h6-lg">
                <a href="#">Why Apple went to war with Facebook and Google this week</a>
              </h3>
              <div class="card-text small text-muted">
                <time datetime="2019-10-16">Oct 16, 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <!-- End post list -->
  </div>
</div>
<!-- End block -->

<!--<footer class="bg-dark text-light">-->
<footer>
  <div class="container-fluid py-3">
  <div class="row">
    <div class="col-3">
      <ul class="nav flex-column">
        <!-- <li class="nav-link"><a href="#">Retornar à Loja</a></li> -->
        <li class="nav-link"><a href="#">Sobre</a></li>
        <li class="nav-link"><a href="#">Contato</a></li>
        <li class="nav-link"><a href="#">Suporte</a></li>
      </ul>
    </div>
    <div class="col-8">
      <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem sed necessitatibus id asperiores iste fugiat,             praesentium obcaecati explicabo consequatur voluptatem eos earum blanditiis dolorem eaque veritatis libero?               Magni, nam fugiat.
      </p>
      <ul class="nav">
        <li class="nav-link" ><i class="fab fa-facebook fa-3x "></i></li>
        <li class="nav-link"><i class="fab fa-instagram fa-3x"></i></li>
        <li class="nav-link"><i class="fab fa-twitter fa-3x"></i></li>
        <li class="nav-link"><i class="fab fa-whatsapp fa-3x"></i></li>
      </ul>
    </div>
  </div>
  </div>
  <div class="text-center" style="background-color: #fff; padding: 20px;" >
    &copy 2023 Copyright: <!--<a href="#">Lojas Virtuais</a>-->
  </div>
</footer>

