
.img-local{
  width: 100%;
  height: 80%;
}

.img-s{
  width: 55px;
  height: 55px;
  text-align: center;
}

.img-tes{
  top: 0px;
  left:-30px;
}

.btn-custom{
  padding: 4px 12px;
	border-radius: 50px;
  font-size: 18px;
  line-height: 20px; /* <- changed this */
  box-sizing: border-box; /* <- added this */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
  height: 35px;
  width: 150px;

}

.div-btn-custom{
  padding: 4px 120px 15px;
}

// body{background-color: #ededed;}
// div{ width: 960px; height:600px; margin: 0 auto; position: relative; }

.box-m{
  width: 200px;
  height: 150px;
  background: #ededed;
  margin: 0 auto;
  border-radius: 15px;
  border: 2px solid #575656;
}

.box-l{
  width: 90%;
  background: #a0a0a0;;
  margin: 0 auto;
  padding-bottom: 2%;
  border-radius: 20px;
  border: 3px solid #575656;
}

p{
  font-size: 13pt;
  text-align: justify;
  font-family: arial;
  padding: 3%;
}

.p-nome{
  font-size: 10pt;
  font-style: italic;
}

.div-text{
  text-align: center;
}

.tes{
  position: static;
  min-width: 10%;

}

.sec{
  position: static;
  min-width: 10%;

  // z-index:1;
}

.ti-cont{
   position: absolute;
  top: 290px;
  left: 220px;
}

.prod{
    position: absolute;
  top: 458px;
  left: 145px;
}

.prod-aligin{
   top: 434px;
}

.log{
    position: absolute;
  top: 458px;
  left: 604px;
}

.com{
  position: absolute;
  top: 458px;
  left: 374px;
}

.point{
  width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  margin: -10px auto;
}

.top{
  position: relative;
  top: 0px;
  left: 3px;
}
.top-log{
  left: 0px;
}

.top-prod{
  left: 0px;
}

.r-point{
  width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  position: static;
  // top: 10%;
  // left: 19%;
}

.l-point{
   width: 10px;
  height: 10px;
  background-color: #ededed;
  display: block;
  border: 2px solid orange;
  border-radius: 10px;
  position: relative;
  top: 40px;
  left: 305px;
  z-index:2;
}

.vertical-line{
  width: 6px;
  height: 340px;
  background-color: #b3b2b2;
  display: block;
  margin: 10px auto;
  position: relative;
}

.v-line-small{
  height: 20px;

}

.circle-line{
  position: relative;
  top: -37px;
}

.cl-log{
  position: relative;
  top: -82px;
}

.horizontal-line{
  width: 100px;
  height: 6px;
  background-color: #b3b2b2;
  display: block;
  position: absolute;
  top: 44px;
  left: 208px;

}

.h-line-big{
  position: absolute;
  width: 465px;
  top: 428px;
  left: 245px;
}




