<div class="block-area p-4">
  <div class="big-post">

    <article class="card card-full hover-a mb-4">
      <div class="card-header">
        <h5><b>Sobre</b></h5>
      </div>
      <div class="row" >
        <div class="col-lg-5">
          <div class="ratio_300-202 image-wrapper">
            <img class="img-fluid lazy img-local" src="assets/img/Sindest-1.jpg" alt="Image description">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body pt-3 pt-lg-4">
              <!--description-->
            <div class="card-text">Lorem ipsum dolor sit amet. Aut voluptates doloremque At natus eaque ea laboriosam velit non ipsam corrupti a optio voluptatibus et explicabo accusantium? Sed laborum maxime et ipsam repellat in provident facere qui eius atque aut quos quia ea suscipit incidunt qui unde sint. Et dolor galisum qui commodi voluptas et blanditiis nihil sed error cumque cum atque libero quo neque soluta eum odit nemo.
              Aut amet quisquam et atque saepe est impedit consequuntur eos quae magnam qui assumenda quia ut quaerat laudantium. A libero omnis est voluptas quae hic reprehenderit iure eos magni repellat. Qui quidem ipsam ea molestiae ipsum eum incidunt dolorem.
              Sed quibusdam autem ad debitis tenetur ad ipsa facilis. Qui obcaecati quasi et modi expedita eos veniam perferendis hic sunt suscipit et ipsa optio ex itaque maiores qui architecto reiciendis. Sed perspiciatis ratione et tempore minima quo dolores perspiciatis aut nihil dolore qui eligendi odit ut sunt corrupti qui tempore iusto. Qui nostrum voluptatum et ullam labore qui reprehenderit odit!
              Lorem ipsum dolor sit amet. Aut voluptates doloremque At natus eaque ea laboriosam velit non ipsam corrupti a optio voluptatibus et explicabo accusantium? Sed laborum maxime et ipsam repellat in provident facere qui eius atque aut quos quia ea suscipit incidunt qui unde sint. Et dolor galisum qui commodi voluptas et blanditiis nihil sed error cumque cum atque libero quo neque soluta eum odit nemo.
              Aut amet quisquam et atque saepe est impedit consequuntur eos quae magnam qui assumenda quia ut quaerat laudantium. A libero omnis est voluptas quae hic reprehenderit iure eos magni repellat. Qui quidem ipsam ea molestiae ipsum eum incidunt dolorem.
              Sed quibusdam autem ad debitis tenetur ad ipsa facilis. Qui obcaecati quasi et modi expedita eos veniam perferendis hic sunt suscipit et ipsa optio ex itaque maiores qui architecto reiciendis. Sed perspiciatis ratione et tempore minima quo dolores perspiciatis aut nihil dolore qui eligendi odit ut sunt corrupti qui tempore iusto. Qui nostrum voluptatum et ullam labore qui reprehenderit odit!</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-4">
          <section class="box-l">
            <h6>&nbsp;<i>Diretoria Executiva</i></h6>
              <div class="row">
                <div class="col" style="border: 1px solid">
                  <section class="box-m tes">
                    <p>Tesouraria</p>
                    <div class="div-text"><img src="assets/imagem1.jpg" class="img-s img-tes"><p class="p-nome">Elaine Cristina</p></div>
                  </section>
                  <span class="r-point"></span>
                  <span class="horizontal-line"></span>
                  <span class="l-point"></span>
                </div>
                <div class="col" style="border: 1px solid">
                  <section class="box-m">
                    <p>Presidente</p>
                    <span class="point"></span>
                    <span class="vertical-line"></span>
                  </section>
                </div>
                <div class="col">
                  <section class="box-m sec">
                    <p>Secretaria Geral</p>
                    <div class="div-text"><img src="assets/imagem0.jpg" class="img-s img-tes"><p class="p-nome">Caio Pimentel</p></div>
                    <!-- <span class="r-point"></span>
                    <span class="horizontal-line h-line-big"></span>
                    <span class="l-point"></span> -->
                  </section>
                </div>
            </div>


          </section>


        </div>
        <div class="row">
          <div class="p-4">
            <section class="box-l">
              <h6>&nbsp;<i>Diretoria Liberada</i></h6>
            </section>
             <!-- <section class="box ti-cont">
              <p>TI</p>
              <span class="r-point"></span>
              <span class="horizontal-line"></span>
              <span class="l-point"></span>
              <section class="box rh">
                <p>Contábil</p>
              </section>
            </section>

           <span class="horizontal-line h-line-big"></span>

              <section class="box prod">
                <section class="circle-line">
                  <span class="vertical-line v-line-small"></span>
                  <span class="point top top-prod"></span>
                  <p>Produção</p>
                </section>
               </section>
              <section class="box com">
                <span class="point top"></span>
                <p>Comercial</p>
               </section>
              <section class="box log">
              <p>Logística</p>
                 <section class="circle-line cl-log">
                  <span class="vertical-line v-line-small"></span>
                  <span class="point top top-log"></span>
                </section>
                </section> -->
          </div>
        </div>

      </div>
      <div class="row text-center" >
        <div class="col p-4 div-btn-custom">
          <button class="btn btn-success btn-custom" routerLink="dashboard">
            Voltar
          </button>
        </div>

      </div>
    </article>
  </div>
</div>
