<div class="block-area p-4">
  <div class="big-post">

    <article class="card card-full hover-a mb-4">
      <div class="card-header">
        <h5><b>Sobre</b></h5>
      </div>
      <div class="row">
        <div class="col-lg-5">
          <div class="ratio_300-202 image-wrapper">
            <img class="img-fluid lazy img-local" src="assets/img/Sindest-1.jpg" alt="Image description">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-body pt-3 pt-lg-4">
              <!--description-->
            <div class="card-text"><p>&nbsp;&nbsp;&nbsp;&nbsp;<b>O Sindest é fruto de uma longa história de lutas e conquistas dos trabalhadores no Brasil e no mundo.
              Desde o século XVIII, quando surgiram as primeiras organizações sindicais na Europa, até os dias de hoje, os sindicatos têm sido instrumentos de defesa dos direitos e interesses da classe trabalhadora contra a exploração e a opressão do capitalismo.
              O Sindest faz parte dessa história e se orgulha em representar os servidores estatutários municipais de Santos, que prestam um serviço público essencial para a sociedade.
              O Sindest é o sindicato que luta pelos direitos e interesses dos servidores estatutários municipais de Santos. Fundado em 1989, o Sindest tem uma longa trajetória de conquistas e mobilizações em prol da categoria.
              Com uma diretoria comprometida e uma base participativa , o Sindest busca defender a valorização do serviço público e a melhoria das condições de trabalho e salário dos servidores.
              O Sindest também oferece diversos benefícios e serviços aos seus associados, como assessoria jurídica, convênios, cursos, eventos e lazer.
              O Sindest é a voz dos servidores de Santos. Faça parte dessa história. O Sindest é sindicalismo, é resistência, é cidadania! <br>
              Sindicalize-se!</b>
            </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="p-4 text-center"><img src="assets/img/diretoria.jpg" width="100%">

        </div>
      </div>
      <div class="row text-center" >
        <div class="col p-4 div-btn-custom">
          <button class="btn btn-success btn-custom" routerLink="/dashboard">
            Voltar
          </button>
        </div>

      </div>
    </article>
  </div>
</div>
