<div class="row">
  <!-- testar validação de formulario e reativo
        <p>Form value : {{form.value | json}}</p>
        <p>Form valid : {{form.status | json}}</p> -->
    <div class="col-sm-6"><app-menu></app-menu></div>
    <div class="col-sm-6">
      <div class="container">
        <form [formGroup]="form">
          <!-- <h2>Input with Label Effects</h2> -->
          <div class="form-group col-2 input-effect">
            <input formControlName="nacionalidade" class="effect is-invalid" type="select" placeholder="" [ngClass]="cssValidation(f.nacionalidade)" >
            <div class="invalid-tooltip" *ngIf="f.nacionalidade.errors?.required">
              CEP é obrigatório.
            </div>
            <label>Nacionalidade*</label>
            <span class="focus-border"></span>
          </div>
          <div class="form-group col-2 input-effect">
            <input formControlName="sexo" class="effect is-invalid" type="select" placeholder="" [ngClass]="cssValidation(f.sexo)" >
            <div class="invalid-tooltip" *ngIf="f.sexo.errors?.required">
              CEP é obrigatório.
            </div>
            <label>Nacionalidade*</label>
            <span class="focus-border"></span>
          </div>

          <div class="col-1 input-effect">
            <input class="effect" type="text" placeholder="" [ngClass]="cssValidation(f.endereco)" formControlName="endereco">
            <div class="invalid-tooltip" *ngIf="f.endereco.errors?.required">
              Endereço é obrigatório.
            </div>
            <div class="invalid-tooltip" *ngIf="f.endereco.errors?.minlength">
              Endereço deve ter no minimo 3 caracteres.
            </div>
            <div class="invalid-tooltip" *ngIf="f.endereco.errors?.maxlength">
              Endereço deve ter no máxino 150 caracteres.
            </div>
            <label>Endereco*</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-2 input-effect">
            <input class="effect" type="number" placeholder="" [ngClass]="cssValidation(f.numero)" formControlName="numero">
            <div class="invalid-tooltip" *ngIf="f.numero.errors?.required">
              Número do endereço é obrigatório.
            </div>
            <label>Número*</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-2 input-effect">
            <input class="effect" type="text" placeholder="" formControlName="complemento">
            <label>Complemento*</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-2 input-effect">
            <input class="effect" type="select" placeholder="" [ngClass]="cssValidation(f.cidade)"
            formControlName="cidade">
            <div class="invalid-tooltip" *ngIf="f.cidade.errors?.required">
              Cidade é obrigatório.
            </div>
            <label>Cidade*</label>
            <span class="focus-border"></span>
          </div>
          <div class="col-2 input-effect">
            <input class="effect" type="select" placeholder="" [ngClass]="cssValidation(f.cidade)"
            formControlName="estado">
            <div class="invalid-tooltip" *ngIf="f.estado.errors?.required">
              Estado é obrigatório.
            </div>
            <label>Estado*</label>
            <span class="focus-border"></span>
          </div>
          <div class="form-row">
            <div class="form-group col-2">
              <button class="btn btn-lg btn-danger btn-block px-5" routerLink="dashboard">
                Cancelar
              </button>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-2">
              <button class="btn btn-lg btn-success btn-block px-5" (click)="saveChange()" [disabled]="!form.valid">
                Registar
              </button>
            </div>
          </div>
        </form>

      <!-- </div> -->
    </div>
    </div>
  </div>
