<!-- CEP
Endereco
cidade
estado
pais
sexo
naturalidade
nacionalidada -->

<div class="row">
  <!-- testar validação de formulario e reativo
        <p>Form value : {{form.value | json}}</p>
        <p>Form valid : {{form.status | json}}</p> -->
    <div class="col-sm-20">
      <div class="container">
        <div class="col-lg-60 mt-4">
          <div class="card">
            <div class="card-header">
              <h5><b>Cadastro Digital</b></h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-md-4"><app-menu></app-menu></div>
                <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h6><b>Dados Pessoais</b></h6>
                  </div>
                  <form [formGroup]="form">
                    <div class="col-3">
                      <input formControlName="rg" id="rg" class="effect" type="text" placeholder="RG*" [ngClass]="cssValidation(f.rg)" maxlength="12">
                      <div class="invalid-tooltip" *ngIf="f.rg.errors?.required">
                        RG é obrigatório.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.rg.errors?.minlength">
                        RG deve ter no minimo 8 caracteres.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.rg.errors?.maxlength">
                        RG deve ter no máxino 12 caracteres.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3">
                      <input class="effect" type="datetime" [ngClass]="cssValidation(f.dataEmissao)" placeholder="Data de Emissão*"
                      formControlName="dataEmissao" bsDatepicker [bsConfig]="bsConfig()" maxlength="10" (keypress)="readonlyDatePicker($event)">
                      <div class="invalid-tooltip" *ngIf="f.dataEmissao.errors?.required">
                        Data de Emissão é obrigatório.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.dataEmissao.errors?.minlength">
                        Data de Emissão deve ter no minimo 10 caracteres.
                      </div>
                      <div class="invalid-tooltip" *ngIf="f.dataEmissao.errors?.maxlength">
                        Data de Emissão deve ter no máxino 10 caracteres.
                      </div>
                      <span class="focus-border"></span>
                    </div>
                    <div class="col-3">
                      <select class="effect" type="select" [ngClass]="cssValidation(f.nome)" formControlName="orgaoExpedidor"
                      placeholder="Orgao Expedidor*">
                        <option disabled selected hidden>Orgão Expedidor*</option>
                        <option>SSP</option>
                      <div class="invalid-tooltip" *ngIf="f.orgaoExpedidor.errors?.required">
                        Orgão Expedidor é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                      </select>
                    </div>
                    <div class="col-3">
                      <select class="effect" type="select" placeholder="" [ngClass]="cssValidation(f.nome)" formControlName="ufExpedidor">
                        <option disabled selected hidden>Estado Expedidor*</option>
                        <option>SP</option>
                      <div class="invalid-tooltip" *ngIf="f.ufExpedidor.errors?.required">
                        Estado Expedidor é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                      </select>
                    </div>
                    <div class="col-3">
                      <select class="effect" type="select" placeholder="" [ngClass]="cssValidation(f.nome)" formControlName="estadoCivil">
                        <option disabled selected hidden>Estado Civil*</option>
                        <option>Casado</option>
                      <div class="invalid-tooltip" *ngIf="f.estadoCivil.errors?.required">
                        Estado Civil é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                      </select>
                    </div>
                    <div class="col-3">
                      <select class="effect" type="select" placeholder="" [ngClass]="cssValidation(f.nome)" formControlName="sexo">
                        <option disabled selected hidden>Sexo*</option>
                        <option>Masculino</option>
                      <div class="invalid-tooltip" *ngIf="f.sexo.errors?.required">
                        Sexo é obrigatório.
                      </div>
                      <span class="focus-border"></span>
                      </select>
                    </div>
                    <div class="col-1">
                      <div class="form-group col">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col div-btn-custom">
                        <button class="btn btn-danger btn-custom" routerLink="dashboard">
                          Cancelar
                        </button>
                      </div>
                      <div class="col div-btn-custom">
                        <button class="btn btn-success btn-custom" (click)="saveChange()" [disabled]="!form.valid">
                          Avançar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>



