<nav></nav>
<h2>
  Pessoa Component
</h2>
<hr>
<form action="" class="form-inline">
  <div class="input-group">
    <input type="text" class="form-control mr-2" placeholder="buscar" size="25%" onclick="getPessoaId()">
    <!--<input type="text" class="form-control mr-2" placeholder="buscar">-->
    <button class="btn btn-outline-success">Buscar</button>
  </div>
</form>
<hr>
<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th>
        <button type="button" class="btn btn-outline-light btn-sm" (click)="alterarImagem()">
          <i class="{{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!exibirImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
      <th>#</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody *ngIf="pessoas && pessoas.length">
    <tr *ngFor="let pessoa of pessoas">
      <td>{{pessoa.id}}</td>
      <td>
        <img [collapse]="!exibirImagem" [isAnimated]="true" src="/assets/{{pessoa.pessoaFisica.imagem}}"
        [style.width.px]="larguraImagem"
        [style.margin.px]="margemImagem"></td>
      <td>{{pessoa.pessoaFisica.nome}}</td>
      <td>{{pessoa.pessoaFisica.cpf}}</td>
      <td>{{pessoa.dataCadastro}}</td>
      <td>
        <button type="button" class="btn btn-primary btn-sm mr-2">
          <i class="fa fa-edit"></i>
        </button>
      </td>
      <td>
        <button type="button" class="btn btn-danger btn-sm">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!pessoas.length">
    <tr>
      <td colspan="8" class="text-center">
        <h4>Nenhum registro encontrado!</h4>
      </td>
    </tr>
  </tfoot>
</table>


