<div class="row">
  testar validação de formulario e reativo
        <p>Form value : {{form.value | json}}</p>
        <p>Form valid : {{form.status | json}}</p>
    <div class="col-sm-20">
      <div class="container">
        <div class="col-lg-60 mt-4">
          <div class="card">
            <div class="card-header">
              <app-title></app-title>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-md-4"><app-menu></app-menu></div>
                <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h6><b>Dados Profissionais</b></h6>
                  </div>
                  <div class="col-1">
                    <div class="card card-informacao">
                      <div class="card-body">
                        <h5 class="card-title"><b>Informação</b></h5>
                        <p class="card-text">Todos os itens com (*) são obrigatórios.<br>
                          Para a categoria PMS, o local de trabalho é preenchido automaticamente ao informar o centro de custo.
                        </p>
                        <p class="card-text"></p>
                      </div>
                    </div>
                  </div>
                  <form [formGroup]="form">
                    <div class="row">
                      <div class="col-3">
                        <div id="divIndicacao">Indicação*</div>
                        <select class="effect" [ngClass]="cssValidation(f.indicacaoId)" id="indicacaoId" formControlName="indicacaoId" (focus)="changeFColor('divIndicacao')" (blur)="changeBColor('divIndicacao')">
                          <!-- <option disabled selected hidden value="">Indicação*</option> -->
                          <option *ngFor="let diretor of diretores" value="{{diretor.id}}">{{diretor.nome}}</option>
                        </select>
                        <div class="invalid-selector" *ngIf="f.indicacaoId.touched && f.indicacaoId.invalid">
                          A indicação é obrigatória.
                        </div>
                        <span class="focus-border"></span>
                      </div>
                      <div class="col-3">
                        <div id="divCategoria">Categoria*</div>
                        <select class="effect" id="categoriaId" formControlName="categoriaId" (focus)="changeFColor('divCategoria')" (blur)="changeBColor('divCategoria')" (change)="addFormCategoria()">
                          <!-- <option disabled selected hidden value="">Categoria*</option> -->
                          <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.descricao}}</option>
                        </select>
                        <div class="invalid-selector" *ngIf="f.categoriaId.touched && f.categoriaId.invalid">
                          A categoria é obrigatória.
                        </div>
                        <span class="focus-border"></span>
                      </div>
                      <div id="divRegistro" style="display:none" class="col-3">
                        <div>Registro*</div>
                        <input type="text" class="effect" id="registro" formControlName="registro" (focus)="changeFColor('divRegistro')" (blur)="changeBColor('divRegistro')" [ngClass]="cssValidation(f.registro)"
                        mask="00.000-0">
                        <div class="invalid-tooltip" *ngIf="f.registro.touched && f.registro.invalid">
                          O Registro é obrigatório.
                        </div>
                        <span class="focus-border"></span>
                      </div>
                      <div id="divCentroCusto" style="display:none" class="col-3">
                        <div>Centro de Custo*</div>
                        <input type="text" class="effect" id="centroCusto" formControlName="centroCusto" (focus)="changeFColor('divCentroCusto')" (blur)="changeBColor('divCentroCusto')" [ngClass]="cssValidation(f.centroCusto)"
                        mask="00.00.00.00" (keyup)="getLocalTrabalho()">
                        <div class="invalid-tooltip" *ngIf="f.centroCusto.touched && f.centroCusto.invalid">
                          Centro de Custo é obrigatório.
                        </div>
                        <span class="focus-border"></span>
                      </div>
                      <div  id="divCargo" style="display:none" class="col-3">
                        <div>Local de Trabalho*</div>
                        <input type="text" class="effect" id="cargoId" formControlName="cargoId"
                        value="{{localtrabalho}}" [ngClass]="cssValidation(f.cargoId)">
                        <div class="invalid-tooltip" *ngIf="f.cargoId.touched && f.cargoId.invalid">
                          Local de trabalho não encontrado.
                        </div>
                      </div>
                      <div id="divFuncao" style="display:none" class="col-3">
                        <div>Função*</div>
                        <select class="effect" id="funcaoId" formControlName="funcaoId" (focus)="changeFColor('divFuncao')" (blur)="changeBColor('divFuncao')">
                          <option disabled selected hidden value=""></option>
                          <option *ngFor="let funcao of funcoes" value="{{funcao.id}}">{{funcao.codigo + funcao.descricao}}</option>
                        </select>
                        <div class="invalid-selector" *ngIf="f.funcaoId.touched && f.funcaoId.invalid">
                          A função é obrigatória.
                        </div>
                        <span class="focus-border"></span>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col div-btn-custom">
                        <button class="btn btn-danger btn-custom" routerLink="dashboard">
                          Cancelar
                        </button>
                      </div>
                      <div class="col div-btn-custom">
                        <button class="btn btn-success btn-custom" (click)="saveChange()" [disabled]="!form.valid">
                          Avançar
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>



