<!-- {{accountService.currentUser$ | json}}
{{currentUser | json}} -->

<nav class="navbar navbar-light">
  <div *ngIf="(accountService.currentUser$ | async) == null">
    <form #loginform="ngForm" class="form-inline">
      <a href="user/registration">Cadastre-se&nbsp;</a>
      <input [(ngModel)]="model.userId" type="text" id="userId" name="userId" autofocus="autofocus" placeholder="Login" required>
      <input [(ngModel)]="model.passwordHash" type="password" id="passwordHash" name="passwordHash" placeholder="Senha" required>
      <button type="submit" [disabled]="loginform.invalid" (click)="login()">Enviar</button>
      <a href="#">Esqueci minha senha</a>
    </form>
  </div>
  <div class="logged" *ngIf="(accountService.currentUser$ | async) != null">
    <ul >
      <li class="nav-item dropdown" dropdown *ngIf="(accountService.currentUser$ | async) as user">
        <img src="assets/imagem1.jpg">
        <i class="fa fa-bell" ></i>
        <a id="firstName" dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{firstName | titlecase}}
        </a>
        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" routerLink="user/registration">
          <a class="dropdown-item">
            Atendimentos
          </a>
          <a class="dropdown-item">
            Processos
          </a>
          <a class="dropdown-item">
            Registro
          </a>
          <div role="separator" class="divider"></div>
          <a class="dropdown-item" (click)="logout()" routerLink="dashboard" style="cursor: pointer;">
            Sair
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>





