// // nav{
// //   width: auto;
// //   //position: relative;
// // }

.logged{
  text-align: center;
}

div{
  padding-right: 15px;
}

ul{
  margin: auto;
  padding-right: 20px;
  list-style-type: none;
  //position: relative;

  //display: block;
}

li a{
  display: inline-block;
  //margin-right: 3px;
  white-space: nowrap;
  font-size: .95em;
  margin: 0 10px;

}

img{
  width: 30px;
  height: 30px;
  margin-right: 20px;
  border-radius: 50%;
}

a:link,
a:visited {
  color: #2c3e50;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.4s;
}

a:hover,
a:active {
  border-bottom: 3px solid #27ae60;
}

input[type="text"],
input[type="password"] {
  height: 2em;
  width: 200px;
  margin-right: 5px;
  padding: 1em .5em 1.2em 1em;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
  font-size: .75em;
  transition: border 0.2s;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: 1px solid #27ae60;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border: 1px solid #27ae60;
  box-shadow: 0 0 2px #27ae60;
}

form:valid{
  button{
    height: 28px;
    width: 80px;
    background-color: #27ae60;
    border: 1px solid #27ae60;
    border-radius: 5px;
    font-size: .9em;
    color: #f9fefd;
    margin-right: 5px;
  }
  button:hover,
  button:focus {
  cursor: pointer;
    background-color: #10715e;
    outline: none;
  }
}

form:invalid{
  button{
    height: 28px;
    width: 80px;
    background-color: #bebebe;
    border: 1px solid #bebebe;
    border-radius: 5px;
    font-size: .9em;
    color: #f9fefd;
    margin-right: 5px;
    cursor: not-allowed;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
{
  //border: 1px solid white;
  -webkit-text-fill-color: 333 !important;          /* Cor do texto do autocomplete */
  -webkit-box-shadow: 0 0 0px 1000px white inset; /* Cor de fundo do autocomplete */
  transition: background-color 5000s ease-in-out 0s;
}


