<nav class="navbar navbar-light">
  <form class="form-inline" #loginform="ngForm" *ngIf="currentUser != 'undefined'">
    <a href="user/registration">Cadastre-se</a>
    <input [(ngModel)]="model.userId" type="text" name="userId" id="userId" autofocus="autofocus" placeholder="Login">
    <input [(ngModel)]="model.passwordHash" type="password" name="passwordHash" id="passwordHash" placeholder="Senha">
    <input type="submit" name="login" id="login" value="Login" [disabled]="loginform.invalid" (click)="login()">
    <a href="#">Esqueci minha senha</a>
  </form>
</nav>

    <!-- <form #loginform="ngForm">
      <ul [hidden]="loged">
        <li><a href="user/registration">Cadastre-se</a></li>
        <li><input [(ngModel)]="model.userName" type="text" name="userName" id="userName" autofocus="autofocus" placeholder="Login"></li>
        <li><input [(ngModel)]="model.passwordHash" type="password" name="passwordHash" id="passwordHash" placeholder="Senha"></li>
        <li><input type="submit" name="login" id="login" value="Login" [disabled]="loginform.invalid" (click)="login()"></li>
        <li><a href="#">Esqueci minha senha</a></li>
      </ul>
    </form> -->




