<div class="row">
  testar validação de formulario e reativo
        <p>Form value : {{form.value | json}}</p>
        <p>Form valid : {{form.status | json}}</p>
    <div class="col-sm-20">
      <div class="container">
        <div class="col-lg-60 mt-4">
          <div class="card">
            <div class="card-header">
              <app-title></app-title>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-md-4"><app-menu></app-menu></div>
                <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h6><b>Dependentes</b></h6>
                  </div>
                  <div class="col-1">
                    <div class="card card-informacao">
                      <div class="card-body">
                        <h5 class="card-title"><b>Informação</b></h5>
                        <p class="card-text">Todos os itens com (*) são obrigatórios.<br>
                          Os seguintes benefícios serão atribuídos automaticamente aos dependentes ao associar-se:</p>
                        <span *ngFor="let beneficio of beneficios">
                          <span class="card-text"><ul><li>{{beneficio.nome}} ({{beneficio.descricao}})</li></ul></span><br>
                        </span>
                        <p>Considera-se dependentes: <br>
                          <ul>
                            <li>Filhos (Menores de 18 anos)</li>
                            <li>Esposo(a)</li>
                            <li>Tutelados (Menores de 18 anos)</li>
                            <li>Enteados (Menores de 18 anos)</li>
                          </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-1">
                    <div class="card rounded shadow-sm mt-4 ce">
                      <div class="form-row">
                        <div [formGroup]="form" class="col">
                          <div formArrayName="dependentes" *ngFor="let dependent of dependentes.controls; let i=index">
                            <fieldset [formGroupName]="i" class="form-group">
                              <div class="p-2">
                                <div class="d-flex border-bottom">
                                  <h5 class="mr-auto">
                                    Dependente {{i+1}}:
                                  </h5>
                                </div>
                              </div>
                              <div class="col-3">
                                <div>Data de Nascimento*</div>
                                <input class="effect" type="text" id="dataNascimento"
                                  formControlName="dataNascimento" bsDatepicker [bsConfig]="bsConfig()"
                                  [ngClass]="cssValidation(dependentes.get(i+'.dataNascimento'))" maxlength="10" onkeydown="return false" (ngModelChange)="getTipoParente($event)">
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.dataNascimento').errors?.required">
                                  Data de Nascimento é obrigatório.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.dataNascimento').errors?.minlength">
                                  Data de Nascimento deve ter no minimo 10 caracteres.
                                </div>
                                <!--<div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.dataNascimento').errors?.maxlength">
                                  Data de Nascimento deve ter no máxino 10 caracteres.
                                </div> -->
                                <!-- <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.dataNascimento').errors?.maiorIdade">
                                  Não permitido para filhos maiores de 18 anos.
                                </div> -->
                                <span class="focus-border"></span>
                              </div>
                              <div class="col-3">
                                <div class="title-item">Grau Parentesco*</div>
                                <select class="effect" id="grauParentesco" formControlName="grauParentesco" [ngClass]="cssValidation(dependentes.get(i+'.grauParentesco'))">
                                  <option value=""></option>
                                  <option *ngFor="let tipoParente of tiposParente" value="{{tipoParente.id}}">{{tipoParente.descricao}}</option>
                                </select>
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.grauParentesco').errors?.required">
                                  Grau de parentesco é obrigatório.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.grauParentesco').errors?.filhoMaior">
                                  Não permitido para filhos(as) maiores de 18 anos.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.grauParentesco').errors?.esposoMenor">
                                  Não permitido para esposos(as) menores de 18 anos.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.grauParentesco').errors?.tutelaMaior">
                                  Não permitido para tutelados(as) maiores de 18 anos.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.grauParentesco').errors?.enteadoMaior">
                                  Não permitido para enteados(as) maiores de 18 anos.
                                </div>
                              </div>

                              <div class="col-1">
                                <div class="title-item">Nome Completo*</div>
                                <input class="effect" type="text" formControlName="nome" id="nome">
                                <div class="invalid-tooltip" *ngIf="f.dependentes.get(i+'.nome').errors?.required">
                                  Nome é obrigatório.
                                </div>
                                <!--<div class="invalid-tooltip" *ngIf="f.nome.errors?.minlength">
                                  Nome deve ter no minimo 3 caracteres.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.nome.errors?.maxlength">
                                  Nome deve ter no máxino 150 caracteres.
                                </div> -->
                                <span class="focus-border"></span>
                              </div>
                              <div class="col-3">
                                <div class="title-item">Tipo Documento*</div>
                                <select class="effect" id="tipoDocumento" formControlName="tipoDocumento">
                                  <option *ngFor="let tipoParente of tiposParente" value="{{tipoParente.id}}">{{tipoParente.descricao}}</option>
                                </select>
                              </div>
                              <div class="col-3">
                                <div class="title-item">Numero Documento</div>
                                <input formControlName="numeroDocumento" id="numeroDocumento" class="effect" type="text" maxlength="12">
                                <!-- <div class="invalid-tooltip" *ngIf="f.rg.errors?.required">
                                  Número do documento é obrigatório.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.rg.errors?.minlength">
                                  Número do documento deve ter no minimo 8 caracteres.
                                </div>
                                <div class="invalid-tooltip" *ngIf="f.rg.errors?.maxlength">
                                  Número do documento deve ter no máxino 12 caracteres.
                                </div> -->
                                <span class="focus-border"></span>
                              </div>
                              <div class="col-3">
                                <button class="btn btn-sm btn-danger d-flex float-end mr-2" (click)="openModal(template, i)">
                                  <i class="fa fa-window-close my-1 mr-2"></i>
                                  <b class="ml-1 d-none d-sm-block">Excluir</b>
                                </button>
                              </div>
                            </fieldset>
                          </div>
                        </div>
                      </div>
                      <div class="col-1r">
                        <button class="p-2 btn btn-sm btn-outline-primary" (click)="addDependente()">
                          <i class="fa fa-plus-circle my-1"></i>
                          <b class="ml-1">Adicionar</b>
                        </button>
                      </div>
                    </div>
                </div>
                <div class="row nowrap">
                  <div class="col div-btn-custom">
                    <button class="btn btn-danger btn-custom">
                      Cancelar
                    </button>
                    <button class="btn btn-success btn-custom float-end" [disabled]="!form.valid">
                      Avançar
                    </button>
                  </div>
                </div>
              </div>

              </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <ng-template #template>
      <div class="modal-body text-center">
        <p>Você confirma a exclusão do dependente?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
      </div>
    </ng-template>




