<div class="row">
  <!-- testar validação de formulario e reativo
        <p>Form value : {{form.value | json}}</p>
        <p>Form valid : {{form.status | json}}</p> -->
    <div class="col-sm-20">
      <div class="container">
        <div class="col-lg-60 mt-4">
          <div class="card">
            <div class="card-header">
              <h5><b>Cadastro Digital</b></h5>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col col-md-4"><app-menu></app-menu></div>
                <div class="col">
                <div class="card">
                  <div class="card-header">
                    <h6><b>Dependentes</b></h6>
                  </div>
                  <div class="col-1">
                    <div class="card card-informacao">
                      <div class="card-body">
                        <h5 class="card-title"><b>Informação</b></h5>
                        <p class="card-text">Preencha os campos obrigatórios e clique no botão Adivionar Dependente para criar um novo dependente;<br>
                          Os seguintes benefícios serão atribuídos automaticamente ao sócio e dependentes:<br></p>
                          <p class="p-3"><span class="card-text">Naso(Dentista);</span><br>
                          <span class="card-text">Union (Assistencia Funeraria);</span><br></p>
                          <p>Todos os itens com (*) são obrigatórios.</p>
                      </div>
                    </div>
                  </div>

                  <div class="p-4">
                    <div class="card rounded shadow-sm mt-4 ce">
                      <div class="p-3">
                        <div class="d-flex">
                          <!-- <div formArrayName="dependentes" *ngFor="let dependente of dependentes.controls; let i=index"> -->
                          <div>
                            <form [formGroup]="form">
                            <div>
                              <!-- <fieldset [formGroupName]="i" class="form-group"> -->
                                <fieldset>
                                <div class="row border-bottom" >
                                  <div class="col-3">
                                    <!-- <H5>Dependente: {{tituloDependente(dependentes.get(i+'.nome')?.value)}} -->
                                    <H5>Dependente 1:
                                    </H5>
                                  </div>
                                </div>
                              <div class="row">
                                <div class="col-3">
                                  <input class="effect" type="datetime" placeholder="Data de Nascimento*"
                                  formControlName="dataNascimento" bsDatepicker maxlength="10" >
                                  <div class="invalid-tooltip" *ngIf="f.dataNascimento.errors?.required">
                                    Data de Nascimento é obrigatório.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.dataNascimento.errors?.minlength">
                                    Data de Nascimento deve ter no minimo 10 caracteres.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.dataNascimento.errors?.maxlength">
                                    Data de Nascimento deve ter no máxino 10 caracteres.
                                  </div>
                                  <span class="focus-border"></span>
                                </div>

                                <div class="col-3">
                                  <select class="effect" id="grauparentesco" formControlName="grauparentesco" >
                                    <option>Grau de Parentesco*</option>
                                    <option value="1">Esposo(a)</option>
                                    <option value="2">Filho(a)</option>
                                  </select>
                                </div>
                                <div class="col-3">
                                  <input formControlName="cpf" id="cpf" class="effect" type="text" placeholder="CPF"
                                    mask="000.000.000-00" maxlength="14">
                                  <div class="invalid-tooltip" *ngIf="f.cpf.errors?.required">
                                    CPF é obrigatório.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.cpf.errors?.minlength">
                                    CPF deve ter no minimo 11 caracteres.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.cpf.errors?.maxlength">
                                    CPF deve ter no máxino 11 caracteres.
                                  </div>
                                  <span class="focus-border"></span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-1">
                                  <input class="effect" type="text" placeholder="" formControlName="nome"
                                  placeholder="Nome Completo*">
                                  <div class="invalid-tooltip" *ngIf="f.nome.errors?.required">
                                    Nome é obrigatório.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.nome.errors?.minlength">
                                    Nome deve ter no minimo 3 caracteres.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.nome.errors?.maxlength">
                                    Nome deve ter no máxino 150 caracteres.
                                  </div>
                                  <span class="focus-border"></span>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-3">
                                  <input formControlName="rg" id="rg" class="effect" type="text" placeholder="RG" maxlength="12">
                                  <div class="invalid-tooltip" *ngIf="f.rg.errors?.required">
                                    RG é obrigatório.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.rg.errors?.minlength">
                                    RG deve ter no minimo 8 caracteres.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.rg.errors?.maxlength">
                                    RG deve ter no máxino 12 caracteres.
                                  </div>
                                  <span class="focus-border"></span>
                                </div>
                                <div class="col-3">
                                  <input class="effect" type="datetime" placeholder="Data de Emissão"
                                  formControlName="dataEmissao" bsDatepicker maxlength="10" >
                                  <div class="invalid-tooltip" *ngIf="f.dataEmissao.errors?.required">
                                    Data de Emissão é obrigatório.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.dataEmissao.errors?.minlength">
                                    Data de Emissão deve ter no minimo 10 caracteres.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.dataEmissao.errors?.maxlength">
                                    Data de Emissão deve ter no máxino 10 caracteres.
                                  </div>
                                  <span class="focus-border"></span>
                                </div>
                                <div class="col-3">
                                  <select class="effect" type="select" formControlName="orgaoExpedidor">
                                    <!-- <option disabled selected hidden>Orgão Expedidor*</option> -->
                                    <option>Orgão Expedidor</option>
                                    <option ></option>
                                  <div class="invalid-tooltip" *ngIf="f.orgaoExpedidor.errors?.required">
                                    Orgão Expedidor é obrigatório.
                                  </div>
                                  <span class="focus-border"></span>
                                  </select>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-3">
                                  <select class="effect" id="ufExpedidor" formControlName="ufExpedidor" >
                                    <option>Estado Expedidor*</option>
                                    <option ></option>
                                  <div class="invalid-tooltip" *ngIf="f.ufExpedidor.errors?.required">
                                    Estado Expedidor é obrigatório.
                                  </div>
                                  <span class="focus-border"></span>
                                  </select>
                                </div>
                                <div class="col-3">
                                  <select class="effect" type="select" placeholder="" formControlName="sexo">
                                    <option disabled selected hidden>Sexo*</option>
                                    <option ></option>
                                  <div class="invalid-tooltip" *ngIf="f.sexo.errors?.required">
                                    Sexo é obrigatório.
                                  </div>
                                  <span class="focus-border"></span>
                                  </select>
                                </div>
                                <div class="col-3">
                                  <input class="effect" type="text" placeholder="" formControlName="telefone"
                                    mask="(00)00000-0000" placeholder="Celular">
                                  <div class="invalid-tooltip" *ngIf="f.telefone.errors?.required">
                                    Celular é obrigatório.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.telefone.errors?.minlength">
                                    Celular deve ter no minimo 16 caracteres.
                                  </div>
                                  <div class="invalid-tooltip" *ngIf="f.telefone.errors?.maxlength">
                                    Celular deve ter no máxino 16 caracteres.
                                  </div>
                                  <span class="focus-border"></span>
                                </div>
                              </div>
                            </fieldset>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                    <div class="col text-end mt-3">
                      <button class="p-2 btn btn-sm btn-outline-primary mb-2" (click)="addDependente()">
                        <i class="fa fa-plus-circle my-1"></i>
                        <b class="ml-1">Adicionar Dependente</b>
                      </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col div-btn-custom">
                  <button class="btn btn-danger btn-custom" routerLink="dashboard">
                    Cancelar
                  </button>
                </div>
                <div class="col div-btn-custom">
                  <button class="btn btn-success btn-custom" [disabled]="!form.valid">
                    Avançar
                  </button>
                </div>
              </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>
  </div>



